@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400&display=swap');

footer{
    display: flex;
    background-color: navy;
    padding: 1rem;
    font-family: 'Dosis', sans-serif;
}

section{
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
}
section :last-child{
    margin: 0;
}


h2{
    color: white;
    border-bottom: 2px solid white;
    padding: 2px;
    margin-bottom: 4px;
    font-size: .9rem;
    letter-spacing: 5px;
}

a{
    text-decoration: none;
    color: white;
    margin-bottom: 2px;
    font-size: .75rem;
}
a:hover{
    border-bottom: 1px solid white;
    margin-bottom: 3px;
}
