.main-nav{
    display: flex;
    background: navy;
    justify-content: space-between;
}


.sub-nav{
    display: flex;
}

.nav-list{
    display: flex;
    flex-direction: row;
}

.nav-list a{
    padding: 10px;
    border-right: 2px solid white;
    color: white;
}

.nav-list li:last-of-type a { 
    border-right: 0px;
 }


.full-width{
    display: none;
}

.short-width{
    display: flex;
}

.search-form{
    display: flex;
    padding: 10px;
    border: 0px;
    border-bottom: 2px solid black;
    flex-grow: 1;
}

.company-name{
    color:navy;
    font-size: 2.2rem;
    margin-left: 30px;
    margin-right: 30px;
}

.credit-offer{
    background-color: red;
    text-align: center;
    margin: 20px;
    padding-top: 5px;
    color: white;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .full-width{
        display: flex;
    }
    
    .short-width{
        display: none;
    }
}

